.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: fit-content;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
}

.container > h1 {
    text-align: center;
}

.form-container {
    width: 600px;
}

.client-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container, .gapper {
    display: flex;
    flex-direction: column;
}

.gapper {
    gap: 10px;
}

button {
    background-color: lightgreen;
    border-radius: 20px;
    border: 0;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: green;
    color: white;
}